<div class="bg.jpg">
<br /><br /><br />
  <div class="col-10 offset-1">
		<h1>Welcome to the Beacon Articles Index!</h1>
	</div>
	<br />
	<div class="col-10 offset-1">
		<h2>By simply adding a title</h2>
	</div>
	<br />
	<div class="col-10 offset-1">
		<h3>...an author's name</h3>
	</div>
	<br/>
	<div class="col-10 offset-1">
		<h4>...and a description</h4>
	</div>
	<br />
	<div class="col-10 offset-1">
		<h5>You will help build an index for all to enjoy.</h5>
	</div>
</div>